<section class="container" id="project">
    <div class="columns is-centered features">
      {% for post in site.posts limit:1 %}

      <div class="column is-3">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image1">
              </figure>
            </div>
            <div class="card-content  modal-button" data-target="modal-card1">
              <div class="content">
                <h3>{{ post.title }}</h3>
                <p>A team project that build an interactive assessment for 	psychology student at Faculty of Psychology, 	Diponegoro University</p>
                <p><strong>Role : </strong>Frontend Developer</p>
                <p><strong>Tech : </strong>Laravel, Bootstrap</p>
                <a href="https://bemindful.psikologi.undip.ac.id" target="_blank">
                  <button class="button is-link modal-button">Visit</button>
                </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      {% for post in site.posts offset:1 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card2">
            <div class="content">
              <h3>{{ post.title }}</h3>
              <p>Be an explorer an conquer the zoo with Jeera.

                Jeera helps Zoo visitors who want to see animals by providing directions for the nearest road and animal information around visitors. Thus, visitors can have a pleasant experience while exploring Zoo to see as many animals as possible.</p>
                <p><strong>Role : </strong>Product Researcher, Tech Lead</p>
                <p><strong>Tech : </strong>Swift, UIKit Programmatically, MapBox</p>
                <a href="https://testflight.apple.com/join/qp6vOEpb" target="_blank">
                <button class="button is-link modal-button">Visit</button>
              </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for post in site.posts offset:2 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image3">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card3">
            <div class="content">
              <h3>{{ post.title }}</h3>
              <p>Difficult to find a vegetarian restaurant while going outside? Don't worry, Vegcation is here to help you. Find vegetarian friendly restaurant near you.
                Vegcation provides vegetarian restaurant and non vegetarian restaurant with a vegetarian menu. It all depends on your choice.</p>
                <p><strong>Role : </strong>Product Researcher, Tech Engineer</p>
                <p><strong>Tech : </strong>Swift, UIKit, CoreData</p>
                <a href="https://testflight.apple.com/join/fmlZ8mZ5" target="_blank">
                <button class="button is-link modal-button">Visit</button>
              </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for post in site.posts offset:3 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image4">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card4">
            <div class="content">
              <h3>{{ post.title }}</h3>
              
              <p>FOTRA is an iOS application designed to help travelers problems in finding destination information for their trip by providing destination information in a list of suggested places that they can visit in a certain city in Indonesia.</p>
              <p><strong>Role : </strong>Project Manager, Tech Engineer</p>
              <p><strong>Tech : </strong>Swift, UIKit</p>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      
    </div>
  </section>

  <!--  ===============
   HERE BE MODALS
   ===============  -->
   <!-- 3dFlipVertical card tiny [butterfly] -->
   {% for post in site.posts limit:1 %}
           <!-- Image modal -->
           <div id="modal-image1" class="modal modal-fx-3dSlit">
               <div class="modal-background"></div>
               <div class="modal-content is-huge is-image">
                 <!-- content -->
                 <img src="{{ post.image }}" alt="butterfly">
                 <!-- end content -->
               </div>
               <button class="modal-close is-large" aria-label="close"></button>
             </div>
   {% endfor %}
   <!-- end tiny modal card -->




   <!--  ===============
   HERE BE MODALS
   ===============  -->
   <!-- 3dFlipVertical card tiny [butterfly] -->
   {% for post in site.posts offset:1 limit:1 %}
           <!-- Image modal -->
           <div id="modal-image2" class="modal modal-fx-3dSlit">
               <div class="modal-background"></div>
               <div class="modal-content is-huge is-image">
                 <!-- content -->
                 <img src="{{ post.image }}" alt="butterfly">
                 <!-- end content -->
               </div>
               <button class="modal-close is-large" aria-label="close"></button>
             </div>
   {% endfor %}
   <!-- end tiny modal card -->





   <!--  ===============
   HERE BE MODALS
   ===============  -->
   <!-- 3dFlipVertical card tiny [butterfly] -->
   {% for post in site.posts offset:2 limit:1 %}           <!-- Image modal -->
           <div id="modal-image3" class="modal modal-fx-3dSlit">
               <div class="modal-background"></div>
               <div class="modal-content is-huge is-image">
                 <!-- content -->
                 <img src="{{ post.image }}" alt="butterfly">
                 <!-- end content -->
               </div>
               <button class="modal-close is-large" aria-label="close"></button>
             </div>
   {% endfor %}
   <!-- end tiny modal card -->

   <!--  ===============
   HERE BE MODALS
   ===============  -->
   <!-- 3dFlipVertical card tiny [butterfly] -->
   {% for post in site.posts offset:3 limit:1 %}       <!-- Image modal -->
       <div id="modal-image4" class="modal modal-fx-3dSlit">
           <div class="modal-background"></div>
           <div class="modal-content is-huge is-image">
             <!-- content -->
             <img src="{{ post.image }}" alt="butterfly">
             <!-- end content -->
           </div>
           <button class="modal-close is-large" aria-label="close"></button>
         </div>
   {% endfor %}
   <!-- end tiny modal card -->