<section class="container" id="project">
    <div class="columns is-centered features">
      {% for post in site.posts limit:1 %}

      <div class="column is-3">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image1">
              </figure>
            </div>
            <div class="card-content  modal-button" data-target="modal-card1">
              <div class="content">
                <h3>{{ post.title }}</h3>
                <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis.</p>
                <a href="https://bemindful.psikologi.undip.ac.id" target="_blank">
                  <button class="button is-link modal-button">Visit</button>
                </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      {% for post in site.posts offset:1 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card2">
            <div class="content">
              <h3>{{ post.title }}</h3>
              <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis.</p>
              <a href="https://testflight.apple.com/join/qp6vOEpb" target="_blank">
                <button class="button is-link modal-button">Visit</button>
              </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for post in site.posts offset:2 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image3">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card3">
            <div class="content">
              <h3>{{ post.title }}</h3>
              <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis.</p>
              <a href="https://testflight.apple.com/join/fmlZ8mZ5" target="_blank">
                <button class="button is-link modal-button">Visit</button>
              </a>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for post in site.posts offset:3 limit:1 %}

      <div class="column is-3">

        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ post.image }}" alt="butterfly image" class="modal-button" data-target="modal-image4">
            </figure>
          </div>
          <div class="card-content  modal-button" data-target="modal-card4">
            <div class="content">
              <h3>{{ post.title }}</h3>
              
              <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis.</p>
              <!-- <h6 class="post-date">{{ post.date | date_to_string }}</h6> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      
    </div>
  </section>